* {
    padding: 0 0 0 0;
    margin: 0;
}


nav i  {
    color: gray;
    margin-left: 15px;
    margin-right: 15px;
}

nav i:hover{
    transition-delay: 1;
    color: blue;
    transition: 0.5s;
}

nav {
    height: 20%;
    background-color: black;
}

nav h1 {
    margin: auto;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 3rem;

}

/* Cardapio */

.cardapio-space {
    flex-wrap: wrap;
}

.cartao {
    display: flexbox;
    box-shadow: 0 16px 9px 0 rgba(0,0,0,0.2);
    max-width: 23.3%;
    max-height: 23.3%;
    min-height: 200px;
    min-width: 200px;
    margin: 10px;
    padding: 5px;
    justify-content: center;
    border-radius: 20px;
    border: solid black;
    
}

.cartao img {
     max-width: 300px;
     max-height: 300px;
}



.card-title {
    color: white;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}



.price-box{
    display: flex;
    width: 10rem;
    margin: 10px auto 10px auto;
    justify-content: center;
    border-radius: 10px;
}

button {
    margin: 10px auto 10px auto;
    width: 100px;
    border-radius: 10px;
}

/* request list */

.request-list-space {
    display: none;
    color: white;
    text-align: center;
    opacity: 0.9;
    background-color: rgb(32, 24, 24);
    border-radius: 20px;
    margin: 35px;
    padding: 10px;
    justify-content: center;
}

.request-space-top h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin: auto auto auto auto;
}

.request-space-top {
    display: flex;
}

.request-space-top i {
    margin-top: 3px;
    margin-bottom: auto;
    cursor: pointer;
}

.request-space-top i:hover {
    color: red;
    transition: 0.3s;
}


.request-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.carta-request {
    display: in;
    background-color: black;
    border-radius: 10px;
    margin: auto;
    
}

.carta-request img {
    width: 100px;
    height: 100px;
    background-color: black;
}

.carta-request input {
    width: 5rem;
    margin: auto;
    text-align: center;
}


.btn-numberUnits {
    display: flex;
    justify-content: center;
    margin-top: 5px;

}

.btnMaisMenos {
    width: 1.5rem;
    margin: auto 8px auto 8px;
    border-radius: 10px;
    background-color: yellow;
}







