<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_admin.css') }}">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Login</title>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="left"><i class="fa-solid fa-arrow-left fa-2x"></i></a>
        <div onclick="new_restaurant_form(event)" id="new_restaurant_btn">
            <i class="fa fa-plus fa-1x" aria-hidden="true"></i>
            <a class="right"><span>Novo Restaurante</span></a>
        </div>
    </nav>

    <div class="container">
        <div class="box">
            <h2>Login - Funcionarios</h2>
            <form action="sendData" method="POST">
                <label>Restaurante:</label>
                <input id="restaurant_name" class="input" type="text">
    
                <label >Nome:</label>
                <input id="username" class="input" type="text">
    
                <label>Senha:</label>
                <input id="password" class="input" type="password">
    
                <div class="btn-box">
                    <button type="button" class="btn btn-primary" onclick="SendData(event, 'login')">Entrar</button>
                    <button type="button" class="btn btn-danger" onclick="SendData(event, 'Register')">Registrar</button>
                </div>
            </form>  
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='admin.js') }}"></script>
</body>
</html>
